## List and Dictionary Comprehensions
- 리스트와 딕셔너리를 사용해서 작업량이 많은 코드를 줄이는 연습을 해본다. 
- Study를 완료하면, 나토 음성기호를 사용하는 프로젝트를 만들기

### 1. List Comprehension
- 파이썬의 매우 독특한 기능이다. (실제 다른 언어들은 해당 기능이 없다.)
- 컴프리헨션의 개념은 무엇일까?

#### 1-1. 일반적인 List Comprehension

In [2]:
# 일반적으로 리스트를 이용해서 for문을 사용할 경우 
numbers = [1, 2, 3]
new_list = []
for n in numbers:
    add_1 = n + 1
    new_list.append(add_1)
print(new_list)

[2, 3, 4]

- 일반적으로 list를 이용해서 반복문을 사용할 경우 위의 예제와 같이 사용한다.

In [ ]:
# 컴프리헨션 기본 구조 
new_list = [new_item for item in list]

- 먼저 컴프리헨션의 구성 요소를 살펴보자. 리스트 컴프리헨션의 키워드를 입력할 곳에 키워드 메소드를 사용하고자 하면, 위와 같은 실제 구성요소로 그 단어들을 치환하면 된다. 
- 그럼 위의 예제를 컴프리헨션 기능으로 치환하게 된다면 아래와 같다.

In [3]:
# 컴프리헨션으로 치환 
numbers = [1, 2, 3]
new_list = [n + 1 for n in numbers]
print(new_list)

[2, 3, 4]

In [4]:
# 컴프리헨션 연습 문제 1
name = "Angela"
new_list = [letter for letter in name]
print(new_list)

['A', 'n', 'g', 'e', 'l', 'a']

In [5]:
# 컴프리헨션 연습 문제 2
double_number = [i * 2 for i in range(1, 5)]
double_number

[2, 4, 6, 8]

#### 1-2. List Comprehension에 조건 대입

- 컴프리헨션 예제에서 맨 뒤에 if문과 그에 해당하는 키워드가 들어간다.

In [ ]:
# 조건이 대입된 컴프리헨션 기본 구조
new_list = [new_item for item in list if test]

In [8]:
# 조건이 대입된 컴프리헨션 예제 1
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
short_names = [n for n in names if len(n) < 5]
short_names

['Alex', 'Beth', 'Dave']

In [9]:
# 조건이 대입된 컴프리헨션 예제 2
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
long_names = [n.upper() for n in names if len(n) >= 5]
long_names

['CAROLINE', 'ELEANOR', 'FREDDIE']

#### 1-3. exercise 1 제곱수 구하기

In [10]:
# solution
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
squared_numbers = [n**2 for n in numbers]
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

#### 1-4. exercise 2 짝수 필터링

In [11]:
# solution 
numbers = numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
result = [n for n in numbers if n % 2 == 0]
print(result)

[2, 8, 34]

#### 1-5. exercise 3 겹치는 데이터 
- 두 txt 파일을 확인 한다. 해당 파일의 내용물을 보면 각각 새 줄에 있는 여러 숫자가 있다. 
- 두 파일을 조회 후 공통된 숫자만 추려서 result에 저장시키기!

In [44]:
# file1.txt 열기 
with open('data/file1.txt') as file1:
    file1_data = file1.readlines()
    print(file1_data)

['3\n', '6\n', '5\n', '8\n', '33\n', '12\n', '7\n', '4\n', '72\n', '2\n', '42\n', '13']

In [45]:
# file2.txt 열기 
with open('data/file2.txt') as file2:
    file2_data = file2.readlines()
    print(file2_data)

['3\n', '6\n', '13\n', '5\n', '7\n', '89\n', '12\n', '3\n', '33\n', '34\n', '1\n', '344\n', '42']

In [43]:
# 겹치는 데이터 출력 
result = [int(num) for num in file1_data if num in file2_data]
print(result)

[3, 6, 5, 33, 12, 7]

#### 1-6. exercise 4 미국주 게임 리스트 컴프리헨션 적용시키기

In [ ]:
# 모듈 불러오기 
import turtle                           # turtle 불러오기 
import pandas as pd                     # pandas 불러오기 

# turtle screen 설정 
screen = turtle.Screen()                # turtle screen 객체 선언 
screen.title("U.S. States Game")        # turtle title 설정 

# U.S 지도 삽입 
image = "us_state_game_options/blank_states_img.gif"  # 지도 이미지 파일 경로 
screen.addshape(image)                  # 파일 경로에 있는 이미지 불러와서 이미지 추가 
turtle.shape(image)                     # turtle 모양 설정 

# 데이터 불러오기
data_path = "./us_state_game_options/50_states.csv"  # 데이터 Path 지정 
data = pd.read_csv(data_path)           # 불러온 데이터 데이터프레임으로 저장 
all_states = data['state'].to_list()    # 데이터프레임 'state' 컬럼에 있는 row 데이터 list로 저장
guessed_states = []                     # 정답을 맞춘 데이터 리스트에 넣기 위해 빈 리스트 선언 

# turtle screen 내 pormpt 입력창 생성 
while len(guessed_states) < 50:             # 50개주 모두 맞추기 전까지 반복문 계속 돌아가기 
    answer_state = screen.textinput(title=f"{len(guessed_states)}/50 Sates Correct", 
                                    prompt="What's another state's name?").title()   # 입려창 설정

    # hidden key 설정 - list comprehension으로 변환 
    if answer_state == 'Exit': 
        missig_states = [state for state in all_states if state not in guessed_states]
        new_data = pd.DataFrame(missig_states)
        new_data.to_csv('us_state_game_options/states_to_learn.csv')
        break
    
    # if answer_state == 'Exit':                    # 만약 "Exit"를 입력하면 
    #     missig_states = []                        # "Exit"를 누르고, 맞추지 못한 states 이름을  저장하기 위해 빈 리스트 선언  
    #     for state in all_states:                  # 반복문 사용 - all_states에 있는 데이터 state로 하나씩 저장
    #         if state not in guessed_states:       # 만약 state가 guessed_states에 있지 않으면,
    #             missig_states.append(state)       # missing_states 빈 리스트에 저장 
    #     new_data = pd.DataFrame(missig_states)    # 저장된 missing_states를 데이터프레임으로 저장
    #     new_data.to_csv('us_state_game_options/states_to_learn.csv')   # 저장된 데이터 csv로 저장 
    #     break                                     # 게임종료 
    
    # answer_state는 입력 값이 50_states.csv에 있는 주인지 확인하기 
    if answer_state in all_states:                # 만약 answer_state 데이터가 all_states 안에 있다면,
        guessed_states.append(answer_state)       # guessed_states 빈 리스트로 저장 
        t = turtle.Turtle()                       # turtle 객체 선언 
        t.hideturtle()                            # turtle 숨기기 
        t.penup()                                 # turtle 선 숨기기 
        state_data = data[data['state'] == answer_state]    # answer_state 데이터에 부합되는 state_data 불러오기 
        t.goto(int(state_data['x']), int(state_data['y']))  # state_data의 x, y 값 위치로 가기 
        t.write(answer_state)                               # x, y 값에 state 이름 지정하기

### 2. Dictionary Comprehension
- 딕셔너리도 컴프리헨션 기능이 가능하다.

#### 2-1. Dictionary Comprehension 소개

In [ ]:
# 딕셔너리 컴프리헨션 기본 구성 
new_dict = {new_key:new_value for item in list}

In [ ]:
# 딕셔너리 컴프리헨션 심화 구성 1
new_dict = {new_key:new_value for (key, value) in dict.items()}

- 심화구성은 이미 존재하는 딕셔너리에 있는 값을 가지고 새로운 딕셔너리를 만드는 과정이다. 
- 해당 딕셔너리에 있는 모든 요소들을 구해서 key와 value로 나누고, 딕셔너리의 모든 요소들에 있는 각각의 key와 value를 반복한다. 
- new_key와 new_value를 만드는데 key와 value 변수를 사용할 수 있다.

In [ ]:
# 딕셔너리 컴프리헨션 심화 구성 2 - 조건문 대입 
new_dict = {new_key:new_value for (key, value) in dict.items() if test}

In [1]:
# 딕셔너리 컴프리헨션 예제 1 - 각 학생들의 성적표 딕셔너리 
import random
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
students_scores = {student:random.randint(1,100) for student in names}
students_scores

{'Alex': 95,
 'Beth': 54,
 'Caroline': 67,
 'Dave': 8,
 'Eleanor': 73,
 'Freddie': 28}

In [3]:
# 딕셔너리 컴프리헨션 예제 2 - 60점 이상 맞은 학생들 통과 성적표 작성 
passed_students = {key:value for (key, value) in dict.items(students_scores) if value >= 60}
passed_students

{'Alex': 95, 'Caroline': 67, 'Eleanor': 73}

In [4]:
# 딕셔너리 컴프리헨션 예제 2 - 60점 이상 맞은 학생들 통과 성적표 작성 (2번째 방법)
passed_students = {student:score for (student, score) in students_scores.items() if score >= 60}
passed_students

{'Alex': 95, 'Caroline': 67, 'Eleanor': 73}

#### 2-2. exercise 1 - 딕셔너리 컴프리헨션 1 (문장의 단어 몇 개인지 세어보기)

In [12]:
# solution 1
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
sentence_split = sentence.split(" ")

result = {s: len(s) for s in sentence_split}
result

{'What': 4,
 'is': 2,
 'the': 3,
 'Airspeed': 8,
 'Velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow?': 8}

In [14]:
# solution 2
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
result = {word: len(word) for word in sentence.split()}
result

{'What': 4,
 'is': 2,
 'the': 3,
 'Airspeed': 8,
 'Velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow?': 8}

#### 2-3. exercise 2- 딕셔너리 컴프리헨션 2 (섭씨 온도를 화씨 온도로 변환)

In [18]:
# solution 
weather_c = {
    "Monday": 12,
    "Tuesday": 14,
    "Wednesday": 15,
    "Thursday": 14,
    "Friday": 21,
    "Saturday": 22,
    "Sunday": 24,
}

weather_f = {day:(temp_c * 9/5) + 32 for (day, temp_c) in weather_c.items()}
weather_f

{'Monday': 53.6,
 'Tuesday': 57.2,
 'Wednesday': 59.0,
 'Thursday': 57.2,
 'Friday': 69.8,
 'Saturday': 71.6,
 'Sunday': 75.2}

#### 2-4. 판다스 데이터 프레임에서 반복하는 방법

In [14]:
# 기존 딕셔너리를 통해 반복하는 방법
student_dict = {
    "student": ["Angela", "Jamges", "Lily"],
    "score": [56, 76, 98]
}

# 딕셔너리를 통해 반복할 수 있는 방법 - key만 출력 
for (key, value) in student_dict.items():
    print(key)

# 딕셔너리를 통해 반복할 수 있는 방법 - value만 출력    
for (key, value) in student_dict.items():
    print(value)

student
score
['Angela', 'Jamges', 'Lily']
[56, 76, 98]

In [15]:
# 기존 판다스 데이터프레임 작업 시 하는 방법
import pandas as pd 

# 딕셔너리 데이터 
student_dict = {
    "student": ["Angela", "Jamges", "Lily"],
    "score": [56, 76, 98]
}

# 데이터프레임으로 변환 
student_data_frame = pd.DataFrame(student_dict)
student_data_frame

  student  score
0  Angela     56
1  Jamges     76
2    Lily     98

In [17]:
# 기존 판다스 데이터프레임을 통해 반복하는 방법
import pandas as pd 

student_dict = {
    "student": ["Angela", "Jamges", "Lily"],
    "score": [56, 76, 98]
}

student_data_frame = pd.DataFrame(student_dict)

for (key, value) in student_data_frame.items():
    print(key)

for (key, value) in student_data_frame.items():
    print(value)

student
score
0    Angela
1    Jamges
2      Lily
Name: student, dtype: object
0    56
1    76
2    98
Name: score, dtype: int64

In [10]:
# 데이터프레임에 있는 각 행을 반복 실행할 수 있는 방법 - 일반적인 방법 
import pandas as pd 

student_dict = {
    "student": ["Angela", "Jamges", "Lily"],
    "score": [56, 76, 98]
}

student_data_frame = pd.DataFrame(student_dict)
print(student_data_frame)

for (index, row) in student_data_frame.iterrows():
    print(row.student)

  student  score
0  Angela     56
1  Jamges     76
2    Lily     98
Angela
Jamges
Lily

In [19]:
# 데이터프레임에 있는 각 행을 반복 실행할 수 있는 방법 - iterrows() 메소드 사용
# iterrows() 메소드는 데이터의 행-열/데이터 정보를 튜플 형태의 generator 객체로 반환하는 함수이다. 

import pandas as pd 

student_dict = {
    "student": ["Angela", "Jamges", "Lily"],
    "score": [56, 76, 98]
}

# 일반 데이터프레임 출력
student_data_frame = pd.DataFrame(student_dict)
print(student_data_frame)

  student  score
0  Angela     56
1  Jamges     76
2    Lily     98

In [20]:
# index 값만 출력 
for (index, row) in student_data_frame.iterrows():
    print(index)

0
1
2

In [21]:
# row 값만 기본 출력 -> 결과적으로 판다스 시리즈 객체
for (index, row) in student_data_frame.iterrows():
    print(row)

student    Angela
score          56
Name: 0, dtype: object
student    Jamges
score          76
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [22]:
# row 값만 출력 1 
for (index, row) in student_data_frame.iterrows():
    print(row.student)

Angela
Jamges
Lily

In [23]:
# row 값만 출력 2
for (index, row) in student_data_frame.iterrows():
    print(row.score)

56
76
98

In [24]:
# "Angela"의 점수만 추출 
for (index, row) in student_data_frame.iterrows():
    if row.student == "Angela":
        print(row.score)

56

### 3. NATO 알파벳 음성기호 프로젝트
1. 딕셔너리 형식으로 반환 
2. 사용자가 입력하는 단어로부터 음성 규약 단어들의 리스트를 만들기

In [26]:
import pandas as pd

data = pd.read_csv('data/nato_phonetic_alphabet.csv')
data

   letter      code
0       A      Alfa
1       B     Bravo
2       C   Charlie
3       D     Delta
4       E      Echo
5       F   Foxtrot
6       G      Golf
7       H     Hotel
8       I     India
9       J    Juliet
10      K      Kilo
11      L      Lima
12      M      Mike
13      N  November
14      O     Oscar
15      P      Papa
16      Q    Quebec
17      R     Romeo
18      S    Sierra
19      T     Tango
20      U   Uniform
21      V    Victor
22      W   Whiskey
23      X     X-ray
24      Y    Yankee
25      Z      Zulu

In [41]:
# 1. 데이터 프레임을 딕셔너리 컴프리헨션을 사용하여 반환
phonetic_dict = {row.letter:row.code for (index, row) in data.iterrows()}
phonetic_dict

{'A': 'Alfa',
 'B': 'Bravo',
 'C': 'Charlie',
 'D': 'Delta',
 'E': 'Echo',
 'F': 'Foxtrot',
 'G': 'Golf',
 'H': 'Hotel',
 'I': 'India',
 'J': 'Juliet',
 'K': 'Kilo',
 'L': 'Lima',
 'M': 'Mike',
 'N': 'November',
 'O': 'Oscar',
 'P': 'Papa',
 'Q': 'Quebec',
 'R': 'Romeo',
 'S': 'Sierra',
 'T': 'Tango',
 'U': 'Uniform',
 'V': 'Victor',
 'W': 'Whiskey',
 'X': 'X-ray',
 'Y': 'Yankee',
 'Z': 'Zulu'}

In [43]:
# 2. 사용자가 입력하는 단어로부터 음성 규약 단어들의 리스트를 만들기

# 입력창 만들기
word = input("Enter a word: ").upper()
word

Enter a word: kisung

'KISUNG'

In [44]:
# 리스트 컴프리헨션 사용 
output_list = [phonetic_dict[letter] for letter in word]
output_list

['Kilo', 'India', 'Sierra', 'Uniform', 'November', 'Golf']