## 대학 전공과 월급의 관계 분석

### 1. 준비 
- 파일 다운로드 
- 다운로드한 CSV 파일 판다스로 읽기

In [1]:
import pandas as pd

In [3]:
# 데이터 풀러오기 
df = pd.read_csv('salaries_by_college_major.csv')
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

### 2. 판다스를 이용한 예비 데이터 탐색 및 데이터 정리
- 이제 데이터를 데이터프레임에 로드했으므로 작업 중인 데이터가 무엇인지 이해하기 위해 데이터를 살펴본다. 
- 이것은 어떤 데이터 사이언스 프로젝트에서 거치는 첫 번째 단계이다. 
- 여기서 탐색할 것들은 아래와 같다 
    - 데이터프레임에는 몇 개의 행과 몇 개의 열이 있나?
    - 열의 레이블은 무엇이며, 이름이 있나? 
    - 데이터에 누락된 값이 있나? 데이터프레임에 잘못된 데이터가 포함되어 있나?

#### 2-1. 데이터프레임에는 몇 개의 행과 몇 개의 열이 있나?

In [5]:
df.shape

(51, 6)

- shape 속성을 사용하면 정보를 알 수 있다. 
- 조회결과 해당 데이터는 51개의 행과 6개의 컬럼으로 이루어져 있다.

#### 2-2. 열의 레이블은 무엇이며, 이름이 있나?

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

- 처음 데이터를 확인할 때 컬럼 이름이 보였지만, 그래도 columns 속성을 이용하여 한번 더 체크해준다,
- 조회 결과 컬럼명은 아래와 같다. 
     - Undergraduate Major: 학부 전공
     - Starting Median Salary: 평균연봉 시작
     - Mid-Career Median Salary: 중간 경력 평균 급여 
     - Mid-Career 10th Percentile Salary: 중간 경력 10번째 백분위수 소득
     - Mid-Career 90th Percentile Salary: 중간 경력 90번째 백분위수 소득
     - Group: 그룹

#### 2-3. 데이터에 누락된 값이 있나? 데이터프레임에 잘못된 데이터가 포함되어 있나?
- 분석을 진행하기 전에 나중에 일어날 수 있는 문제를 피하기 위해, 데이터프레임에 누락된 데이터 또는 정크 데이터가 없는지 확인해야 한다. 
- 여기서 데이터프레임에 NaN(Not a Number, 숫자 아님) 값을 찾아보고자 한다. 
- NaN 값은 빈 셀 또는 숫자 대신 문자열을 포함하는 셀이다.

In [7]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

- 마지막 열을 살펴보면 'True'라고 나와 있는데, 해당 True는 NaN값이 있다라는 의미이다.

In [8]:
# 실제 NaN 값 확인 
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

- 마지막열을 확인해보니 'NaN'이라고 표시되어 있다.

In [9]:
# 필요없는 NaN 값 제거
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

- 확인한 'NaN'값은 필요가 없다. 그래서 해당 행을 제거할 필요가 있다. 
- 해당 행을 제거하는 방법은 두 가지가 있다. 첫 번쨰 방법으로는 50번째 Index를 수동으로 제거하는 방법, 두 번째는 판다스의 .dropna() 메서드를 이용하는 것이다. 
- 마지막으로 마지막 행이 없는 새 데이터프레임을 만들고, 마지막 5개 행을 검사하여 마지막 행이 제거되었는지 확인해 보았다.

### 3. 데이터프레임에 있는 열 및 개별 셀에 접근하기

#### 3-1. 초봉이 가장 높은 대학 전공 찾기 
- 데이터 프레임에서 특정 열에 접근하려면 아래와 같이 데이터프레임 변수 옆에 `[]`표기를 사용해준다.

In [10]:
# Starting Median Salary 컬럼 조회
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [11]:
# Starting Median Salary에서 가장 높은 초봉 찾기 
clean_df['Starting Median Salary'].max()

74300.0

- 해당 컬럼에서 가장 높은 값을 찾으려면 ".max()"메소드를 연결하면 된다.
- 탐색 결과 가장 높은 초봉은 `$74,300` 이다. 높은 초봉은 찾았지만, 어느 대학 전공이 초봉이 높은지는 나오지 않는다. 
- 만약 해당 대학 전공을 알고 싶다면 인덱스 번호를 알아야 한다.

In [13]:
# 검색한 가장 높은 초봉의 인덱스 찾기
clean_df['Starting Median Salary'].idxmax()

43

- 판다스에서 `.idxmax()` 메소드를 사용하면 가장 큰 값을 가진 행에 대한 인덱스를 제공해준다.
- 탐색 결과 가장 높은 초봉의 값의 인덱스 값은 `43`이다.

- 그럼 특정 행에 해당하는 전공 이름을 보려면 `.loc[인덱스 위치]` 속성을 사용한다.

In [17]:
# 가장 높은 초봉의 대학 전공 출력 
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

- 탐색 결과 가장 높은 초봉 `$74,300`의 대학 전공은 "의사 보조 이다.
- 여기에서 열(학부 전공)과 인덱스 43에 있는 행 하나를 둘 다 선택해서 특정 셀의 값을 검색한다.

In [18]:
# 가장 높은 초봉의 대학 전공 출력 - 다른 방법
clean_df['Undergraduate Major'][43]

'Physician Assistant'

- 정확히 같은 결과를 얻기 위해 `[]` 표기법을 사용하기도 한다.

In [19]:
# 43번째 인덱스 전체 행 검색 
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

- 만약 특정 열을 지정하지 않으면 `.loc` 속성을 사용하여 전체 행을 검색 할 수 있다.

#### 3-2. 중간 경력 봉급이 가장 높은 대학 전공과 해당 전공 졸업생들은 얼마를 벌까? (여기서 중간 경력은 10년 이상의 경력을 정의)

In [21]:
# 중간 경력 고연봉 값 검색 
clean_df['Mid-Career Median Salary'].max()

107000.0

In [22]:
# 중간 경력 고연봉 값이 포함된 인덱스 위치 조회 
clean_df['Mid-Career Median Salary'].idxmax()

8

In [23]:
# 조회한 인덱스로 전공 검색
clean_df['Undergraduate Major'].loc[8]

'Chemical Engineering'

In [36]:
# 정리 
print(f"중간 경력 봉급이 가장 높은 대학 전공: {clean_df['Undergraduate Major'].loc[8]}")
print(f"연봉: {clean_df['Mid-Career Median Salary'].max()}")

중간 경력 봉급이 가장 높은 대학 전공: Chemical Engineering
연봉: 107000.0

- 탐색 결과 중간 경력 봉급이 가장 높은 대학 전공은 "Chemical Engineering(화학 공학)"으로 연봉은 "$107,000"이다.

#### 3-3. 초봉이 가장 낮은 대학 전공과 소득 그리고 중간 경력 봉급이 가장 낮은 대학 전공과 소득이 얼마일까?

In [24]:
# 가장 낮은 초봉 찾기 
clean_df['Starting Median Salary'].min()

34000.0

In [26]:
# 가장 낮은 초봉의 인덱스 조회 
clean_df['Starting Median Salary'].idxmin()

49

In [28]:
# 가장 낮은 초봉의 대학 전공 조회
clean_df['Undergraduate Major'].loc[49]

'Spanish'

In [37]:
# 정리 
print(f"초봉이 가장 낲은 대학 전공: {clean_df['Undergraduate Major'].loc[49]}")
print(f"연봉: {clean_df['Starting Median Salary'].min()}")

초봉이 가장 낲은 대학 전공: Spanish
연봉: 34000.0

- 탐색 결과 초봉이 가장 낮은 대학 전공은 "Spanish(스페인어과)"로 연봉은 "$34,000" 이다.

In [29]:
# 중간 경력 저연봉 검색
clean_df['Mid-Career Median Salary'].min()

52000.0

In [31]:
# 중간 경력 저연봉 값이 포함된 인덱스 위치 조회 
clean_df['Mid-Career Median Salary'].idxmin()

18

In [32]:
# 가장 낮은 초봉의 대학 전공 조회
clean_df['Undergraduate Major'].loc[18]

'Education'

In [39]:
# 정리 
print(f"중간 경력 봉급이 가장 낮은 대학 전공: {clean_df['Undergraduate Major'].loc[18]}")
print(f"연봉: {clean_df['Mid-Career Median Salary'].min()}")

중간 경력 봉급이 가장 낮은 대학 전공: Education
연봉: 52000.0

- 중간 경력의 경우 가장 낮은 대학 전공은 "Education(교육과)"로 연봉은 "$52,000"이다.

### 4. 값 분류 및 열 추가하기: 잠재력이 가장 큰 전공 vs 위험도가 가장 낮은 전공

#### 4-1. 위험도가 가장 낮은 전공 
- 저위험 전공은 최저 급여와 최고 급여의 차이가 작은 학위 이다. 다른 말로, 우리 전공에서 10번째 백분위수와 90번째 백분위수 소득의 차이가 작으면, 우리가 졸업 후 받게 될 급여에 대해 더 확신할 수 있을 것이다. 
- 10번째 백준위수와 90번째 백분위수 소득 간의 차이를 어떻게 계산할까? 판다스를 사용하면 전체 열에 대해 간단한 산술 연산을 수행할 수 있으므로 두 열의 차이를 취하기만 하면된다.

In [40]:
# 10번째 백준위수와 90번째 백분위수 소득 간의 차이 계산 (산술 연산 사용)
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

- 대안으로 `.subtract()` 메소드를 사용할 수도 있다.

In [41]:
# 10번째 백준위수와 90번째 백분위수 소득 간의 차이 계산 - subtract() 메소드 사용 
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

- 위의 계산의 출력은 또 다른 판다스 데이터프레임의 열이 된다. `.insert()`메소드를 사용하여 기존 데이터프레임에 추가할 수 있다.

In [42]:
# .insert()메소드를 사용하여 위에 계산된 10번째 백준위수와 90번째 백분위수 소득 간의 차이를 추가 
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']    # 10번째 백준위수와 90번째 백분위수 소득 간의 차이 계산 
clean_df.insert(1, 'Spread', spread_col)      # .insert()메소드를 사용하여 열 추가 - 위치: 두 번째, 컬럼명: Spread, 행 값: spread_col
clean_df.head()           # 데이터 확인

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

#### 4-2. 가장 낮은 분포로 정렬 
- 가장 작은 분포를 가진 학위를 확인하려면 `.sort_values()` 메소드를 사용할 수 있다. 
- 여기서 우리가 학위와 전공 이름을 보는 것에만 관심이 있기 때문에 해당 두 열만 단독으로 `.head()`로 이름을 찾아보는 목록을 전달하면 된다.

In [47]:
# 가장 작은 분포를 가진 확위 조회 후 학위와 전공 이름 데이터만 추출 
low_risk = clean_df.sort_values('Spread', ascending=True)            # 계산한 'Spread'열 기준으로 정렬 (오름차순으로 정렬)
low_risk[['Undergraduate Major', 'Spread']].head()                   # 전공 이름과 차이값 만 추출

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

#### 4-3. 잠재력이 가장 높은 5개의  학위 찾기

In [49]:
# 90번째 백분위수에서 가장 높은 값을 가진 상위 5 학위를 찾기 
potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)    # 90번째 백분위수 소득에서 가장 높은 값 조회 -> 내림차순 정렬
potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()                                       # 상위 5개 학위 추출

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

- 잠재력이 가장 높은 상위 5개의 학위는 아래와 같다.
    - Economics(경제학과)
    - Finance(금융학과)
    - Chemical Engineering(화학 공학과)
    - Math(수학학과)
    - Physics(물리학과)

#### 4-4. 급여에서 가장 큰 분포를 보이는 학위 찾기 (졸업 후 고소득자와 저소득자 사이 소득차이가 가장 큰 전공은 무엇일까?))

In [51]:
high_risk = clean_df.sort_values('Spread', ascending=False)       # 급여 차이가 가장 큰 기준으로 정렬 (내림차순)
high_risk[['Undergraduate Major', 'Spread']].head()               # 급여 차이가 가장 큰 분포를 보이는 학위 추출

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

- 탐색 결과 급여에서 가장 큰 분포를 보이는 학위는 Economics(경제학과)였다.

- 상위 5개중 3개가 어떻게 존재하는지 보면, 경제학 학위자 중 몇몇은 소득이 매우 높지만, 그만큼 많지 않은 사람들도 있다는 것을 의미한다. (10번째 백분위수 소득과 90번째 백분위수 수득 차이가 크기 때문)

In [52]:
# 중간 봉급이 매우 높은 학위 조회
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)     # 중간 봉급이 높은 순으로 정렬 
highest_spread[['Undergraduate Major', 'Mid-Career Median Salary']].head()             # 중간 봉급이 높은 학위 추출

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

- 만약 중간 봉급이 매우 높은 학위를 위 두 순위와 비교하는 것도 재미있을 것이다. 
- 여기 중간 봉급이 매우 높은 학위는 화학 공학과 이며, 봉급 분포 차이는 3번째로 높다. 해당 학과도 잠재력은 높지만 경력마다 봉급 차이가 꾀 있는 것을 말한다. 
- 2번째 컴퓨터 공학과를 보면 중간 봉급은 2번째로 높고, 잠재력 전공은 13번쨰로 높고, 봉급 분포 차이는 32번째로 높다. 잠재력은 중간이지만, 봉급차이도 적당히 있고, 중간 급여가 꾀 높다. 해당 학과도 잠재력이 꾀 높은 편이라고 할 수 있다.